<h3>Species</h3>

<a href="{{ path('app_species_create') }}">Create species</a><br>
<hr>
{% for specie in species %}
    <a href="{{ path('app_animal_index', {'species': specie.uuid}) }}">{{ specie.name }}</a>
    <a href="{{ path('app_species_edit', {'species': specie.uuid}) }}">Edit</a>
    {{ renderDeleteForm(path('app_species_delete', {'species': specie.uuid})) }}
    <br>
{% endfor %}
